html {
  --background: #fffffb;
  --foreground: #3d3d3d;
  --accent: 62, 0, 255;
  accent-color: rgb(var(--accent), 0.2);
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  ::selection {
    background-color: rgb(var(--accent), 0.4);
  }
  height: 100vh;
  max-height: 100dvh;
  position: relative;
  overflow: hidden;
}

main {
  overflow-y: auto;
}
