body {
  background-color: var(--background);
  font-family: "Source Serif Pro", serif;
  color: var(--foreground);
  height: 100vh;
  max-height: 100dvh;
  position: relative;
  overflow: hidden;
}

::selection {
  background-color: var(--highlight-color);
}

/* CSS Variables */
:root {
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --border-width: 2px;
  --border-radius: 2rem;
  --border: var(--border-width) solid var(--foreground);
  accent-color: var(--highlight-color);
}
