#FAB input {
  all: unset;
}

#FAB {
  cursor: pointer;
  float: right;
  background-color: rgb(var(--accent), 0.8);
  color: var(--background);
  min-width: 44px;
  min-height: 44px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-right: 1rem;
  transition: background-color 0.3s ease;
}

#FAB:hover {
  background-color: color-mix(in srgb, rgb(var(--accent), 0.8) 70%, black);
  box-shadow: var(--box-shadow);
}
